# Data Science Tools and Ecosystem

In this jupyter notebook, we will talk about Data science Ecosystem and some tools.

**Objectives:**
- List popular languages for Data Science
- List popular Data Science Tools
- List popular Data Science libraries
- Familiarize with Jupyter notebooks

Many languages are used by data scientists, here are three of these languages :
1. Python
2. R
3. Julia

Many libraries are used also by data scientist, here are three of these libraries :
1. scikit-learn
2. Tensorflow
3. SciPy

|Data Science Tools|
|-------|
|   Jupyter Notebook    |
|Rstudio|
|VScode|

### Below are a few examples of evaluating arithmetic expressions in Python

This is a simple arithmetic expression to mutiply then add integers

In [3]:
(3*4)+5

17

This will convert 200 minutes to hours by diving by 60

In [4]:
200/60

3.3333333333333335

## Author
Ghassen HADDAD